<header class="sticky-top header shadow">
    <nav class="navbar navbar-expand-md ">
        <div class="container-fluid w-100 header-menu">
            <a id="back" href="/"><i class="fa fa-circle-chevron-left"></i></a>
            <div class="me-3">
                <button class="btn btn-menus" id="btn-menu">
                    <span class="fa fa-bars"></span>
                </button>
            </div>

            <div class="ms-auto">
                <ul class="nav d-flex gap-3 nav-service">
                    <li class="nav-item "><a href="{% url 'rentcar-bookings' %}" class="d-flex align-items-center {{b}}"><i class="fa fa-bell me-1"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>